            .spanContact{
                width: 200px;display: inline-block;
            }
            .divHead{
                background-color: greenyellow;padding: 20px;
            }
            .divBody{
                background-color: grey;padding: 10px;padding: 40px;
            }